body {
    background-color: #e1b382;
}
.home-header {
    padding-top: 80px !important;
  }

  .home-section {
    position: relative;
    z-index: -1;
    /* background-image: var(--image-gradient), url(./Assets/home-bg.jpg); */
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }

  .home-content {
    padding: 9rem 0 2rem !important;
    color: #2d545e;
    text-align: left;
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .my-name {
    color: #12343b;
  }